{
  "parser": "babel-eslint",
  "env": {
    "browser": true, // da bi bile podrzane svi globalni objekti iz browsera kao npr. document
    "node": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "max-len": [1, 120, 2, {"ignoreComments": true}],
    "react/prop-types": [2],
    "no-console":0
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true
    }
  }
}
